DB_DSN='postgres://admin:admin123@127.0.0.1:5432/rental?sslmode=disable'
// DB_DSN= railway
APP_HOST='localhost'
APP_PORT='8080'
DB_DEBUG='true'
MAILERSEND_SMTP_HOST='smtp.mailersend.net'
MAILERSEND_SMTP_PORT='587'
MAILERSEND_SMTP_USERNAME='MS_...@test-....mlsender.net'
MAILERSEND_SMTP_PASSWORD='mssp....'
MAILERSEND_API_TOKEN='mlsn....'
MAILERSEND_FROM_EMAIL='no-reply@test-....mlsender.net'
MAILERSEND_FROM_NAME='Manufacture Rental'


